.menu {
  width: 100vw;
  height: 100vh;
}

.menu-title {
  font-size: 32pt;
  margin-top: 20px;
  margin-left: 10rem;
  text-decoration: underline;
}
.menu-products {
  display: flex;
  flex-flow: row wrap;
  margin-left: 20px;
}
